@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter';
    background-color: #DE1D22;
}

.navbar-brand {
    margin-left: 2em;
}

.icono {
    font-size: 30px;
    color: #ededed
}

.icono:hover {
    color: #DE1D22
}
.icono-2 {
    font-size: 30px;
    color: #DE1D22
}
.icono-2:hover {
    color: #ededed
}

.icono-1 {
    font-size: 50px;
    color: #ededed;
}

.nav {
    background-color: #DE1D22;
    border-radius: 0.5em;
}

.card {
    background-color: #000000;
    color: #ededed;
}

.list-group-item {
    background-color: #000000;
}

.card-title {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.list-group {
    background-color: #000000;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5em;
    
}
.container{
    background-color: #000000;
    
}
.carousel-inner {
    text-align: center; 
    color: #ededed;
}

div.row.row-cols-1.row-cols-md-2.g-4 {
    padding: 3em;
}


div.row.row-cols-1.row-cols-md-2.g-4 > div:nth-child(1) > div {
    background-color: #DE1D22;
}

div.row.row-cols-1.row-cols-md-2.g-4 > div:nth-child(2) > div {
    background-color: #000000;
}




